body{
    background-color: hsl(233, 47%, 7%);
    font-family: "Inter", sans-serif;
    padding: 6.25rem 3.125rem; /* 100px 50px */
    font-size: 1rem; /* 16px */
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* attribution */
.attribution {
     font-size: 0.875rem; /* 14px */
     text-align: center;
     color: hsl(0, 0%, 100%);
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* container */
.container{
    border-radius: 5%;
    background-color: hsl(244, 38%, 16%);
    width: 56.25rem; /* 900px */
    display: flex;
    height: 21.875rem; /* 350px */
    margin-bottom: 1.25rem; /* 20px */
}


/* left-section */
#left-side{
    padding: 3.125rem; /* 50px */
}
p{
    color:  hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca", sans-serif;
}
h1{
    color: hsl(0, 0%, 100%);
}
.purple-text{
    color: hsl(277, 64%, 61%);
}


/* ratings */
.ratings{
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem; /* 50px */
}
.rate{
    text-align: left;
}
.rate p:first-child{
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    margin: 0 0 0.4rem;
}
.rate p:last-child {
    font-size: 0.875rem; /* 14px */
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 200;
    margin: 0;
}

/* right side */
#right-side{
    background-color:  hsl(277, 64%, 61%);
}
#right-side img{
    width: 28.125rem; /* 450px */
    height: 100%;
    mix-blend-mode: multiply;
}

/*styles for things like ipad and tablets*/
@media (max-width: 768px) {
    body {
        padding: 3.125rem 1.5625rem; /* 50px 25px */
    }
    .container {
        width: 100%; /* Full width */
        flex-direction: column; /* Stack items vertically */
        height: auto; /* Adjust height based on content */
    }
    #left-side {
        padding: 1.5625rem; /* 25px */
    }
    /*Realised that the image was cut off*/
    #right-side img{
         width: 100%; /*full width*/
         height: 100%;
    }
}

/* Styles for mobile phones */
@media (max-width: 375px) {
    .container {
        border-radius: 0; /* Remove border radius */
    }
}
